@import "../../../sass/index.scss";

.menu-top {
  display: flex;

  button {
    color: $font-light;

    &:hover {
      color: $primary-color;
    }
    &:focus,
    &:active {
      color: $font-light;
    }
  }

  &__left {
    &__logo {
      width: 90px;
      padding: 0 15px;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}
